{% extends "base.html" %}
{% block content %}
{% include "header.html" %}


  <h2>Comment on Post</h2>

    <form action="{{url_for('commentItem', category_id = category_id, item_id = item_id)}}" method="post">
      <label>
        <div>comment</div>
        <textarea maxlength="250" rows="3" name="comment" placeholder="Comments from users">{{comment}}</textarea>
      </label>

      <br>



      <button type="submit" class="btn btn-info" id="submit" type="submit">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Submit</button>
      <br>
      <div class="error">{{error}}</div>
    </form>
    <br>

      <a href = "{{url_for('showItem', category_id = category_id, item_id= item_id)}}">
      <button class="btn btn-info delete">
       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
   </a>

{% endblock %}