{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h1>New Category</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form action="{{ url_for('newCategory')}}" method = "post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type ="text" class="form-control" maxlength="100" name="name">
                    <div class="padding-bottom"></div>
                    <button type="submit" class="btn btn-info" id="submit" type="submit">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create</button>
                    <br>
                    <div class="error">{{error}}</div>
                </div>
            </form>

                <a href = "{{url_for('showCategories')}}">
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                </a>


        </div>
    </div>
{% endblock %}